#aboutme{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    padding: 100px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), #001631bd, rgba(0, 0, 0, 0.8));
}

#aboutme>div{
    width: 45%;
}
/* .right_about{
    width: 40%;
} */
.left_about img{
    width: 50%;
}


.right_about .description{
    padding-bottom: 20px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    
}
.right_about .description .smallname{
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px blue;
}

/* Responsive styles */

@media only screen and (max-width: 850px) {
    .left_about {
      display: none;
    }
    #aboutme>div {
        width: 80%; 
      }
  }
  