footer {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 15, 125, 0.75), rgba(0, 0, 0, 0.75));
    font-family: monospace;
}

.end{
    text-align: center;
    color: white;
}

.end p {
    font-family: monospace;
    font-size: 0.8rem;
    margin: 5px 0;
}

/* Responsive styles */

@media only screen and (max-width: 850px) {
    .end p {
        font-size: 0.5rem;
    }
    footer{
        height: 30px;
    }
}
