footer {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 15, 125, 0.75), rgba(0, 0, 0, 0.75));
    font-family: monospace;
}

.end{
    text-align: center;
    color: white;
}

.end p {
    font-family: monospace;
    font-size: 1rem;
    margin: 5px 0;
}