.qualification{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    padding: 100px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), #001631bd, rgba(0, 0, 0, 0.8));
}
.qualification .right_qualification{
    display: flex;
    justify-content: center;
    align-items: center;
}
.qualification .right_qualification img{
    width: 90%;
}
/* .left_qualification #heading,
.left_qualification .span{
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-decoration: underline whitesmoke;
} */

.container {
    width: 100%;
    margin: auto;
  }
  
.section {
    border: 0.2rem solid #00acf075;
    margin-bottom: 1.5rem;
    border-radius: 0.6rem;
    padding: 1.5rem;
    box-shadow: 0 0 1rem #00acf075;
  }
  
  .des {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-shadow: 4px 2px 4px #00acf075;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .institution {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    padding-bottom: 7px;
  }

  .year {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding-bottom: 7px;
  }

  .score{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9 rem;
    padding-bottom: 7px;
  }